# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build Apps

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies and PyInstaller
      run: |
        python -m pip install --upgrade pip
        python -m pip install pipx
        python -m pipx install poetry
        python -m pipx ensurepath
        poetry install
        
    - name: Package Apps
      run: |
        poetry  run pyinstaller -F -w --name app_gui --collect-data sv_ttk --specpath ./bundle/ --distpath ./bundle/dist --workpath ./bundle/build ./gui/__main__.py
        poetry  run pyinstaller -F    --name app_cli                       --specpath ./bundle/ --distpath ./bundle/dist --workpath ./bundle/build ./cli/__main__.py
    
    - name: Upload Apps
      uses: actions/upload-artifact@v3
      with:
        name: app-${{ matrix.os }}
        path: ./bundle/dist/
